{% load static %}
{% include 'includes/header.html' %}
{% block titulo %}

{% endblock titulo1 %}

{% include 'includes/menu.html' %}

<body>
	<div id="content" class="content">
		<ol class="breadcrumb float-xl-right">
			<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
			<li class="breadcrumb-item"><a href="javascript:;">Casa</a></li>
			<li class="breadcrumb-item active">Dashboard</li>
		</ol>
		<h1 class="page-header">Dashboard <small>header small text goes here...</small></h1>
		<div class="row">
			<div class="col-xl-8">
				{% block contenido %}

				{% endblock contenido %}
			</div>
		</div>
	</div>
</body>