{% extends 'includes/base.html' %}
{% block titulo %}
<title>SimuManagePlus | Detalle</title>
{% endblock %}

{% block estilos %}
<!-- Bootstrap Core CSS -->

<!-- Page plugins css -->
<link href="{% static 'assets/plugins/clockpicker/dist/jquery-clockpicker.min.css' %}" rel="stylesheet">
<!-- Color picker plugins css -->
<link href="{% static 'assets/plugins/jquery-asColorPicker-master/css/asColorPicker.css' %}" rel="stylesheet">
<!-- Date picker plugins css -->
<link href="{% static 'assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet" type="text/css" />
<!-- Daterange picker plugins css -->
<link href="{% static 'assets/plugins/timepicker/bootstrap-timepicker.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
{% endblock estilos%}