<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecimiento de Contraseña</title>
</head>
<body>
    <h2>Restablecimiento de Contraseña</h2>
    <p>Por favor, ingresa tu dirección de correo electrónico para recibir un enlace de restablecimiento de contraseña:</p>
    <form method="post">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Correo Electrónico" required>
        <button type="submit">Enviar Enlace</button>
    </form>
</body>
</html>