{% extends 'includes/base.html' %}
{% load static %}
{% block titulo %}
    <title>{{titulo_app}} | {{titulo}}</title>
{% endblock %}

{% block titulo_page %}
<h3 class="text-themecolor">{{titulo}}</h3>
{% endblock titulo_page%}

{% block ruta_page %}
<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
<li class="breadcrumb-item">{{item}}</li>
<li class="breadcrumb-item active">{{subitem}}</li>
{% endblock ruta_page%}

{% block contenido %}
   
<h1>Bievneido a mi Pagina desde Templates</h1>
    <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe title="Guion de Unificación de Cuentas" frameborder="0" width="1200" height="675" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/65d0d45dcc7f870014d5d41b" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et explicabo qui labore nemo <br> ducimus minima maxime consequatur. Mollitia autem nostrum cupiditate eveniet? Laboriosam cupiditate magnam et temporibus nihil recusandae aliquid.</p>
{% enblock %}