{% extends 'includes/base.html' %}


{% block contenido %}
<div class="col-xl-6">
    <!-- begin panel -->
    <div class="panel panel-inverse" data-sortable-id="form-stuff-3">
        <!-- begin panel-heading -->
        <div class="panel-heading">
            <h4 class="panel-title">Sizing</h4>
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <!-- end panel-heading -->
        <!-- begin panel-body -->
        <div class="panel-body p-t-10">
            <div class="row row-space-10">
                <div class="col-md-6">
                    <div class="form-group m-b-10 p-t-5">
                        <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg">
                    </div>
                    <div class="form-group m-b-10">
                        <input class="form-control" type="text" placeholder="default input">
                    </div>
                    <div class="form-group m-b-10">
                        <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group m-b-10 p-t-5">
                        <select class="form-control form-control-lg">
                            <option>.form-control-lg</option>
                        </select>
                    </div>
                    <div class="form-group m-b-10">
                        <select class="form-control">
                            <option>default select</option>
                        </select>
                    </div>
                    <div class="form-group m-b-10">
                        <select class="form-control form-control-sm">
                            <option>.form-control-sm</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end panel-body -->
        <!-- begin hljs-wrapper -->

<!-- end col-6 -->



<div class="panel-body">
    <h2>Change Password</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div>
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit">Change Password</button>
    </form>
</div>     

<br>

    
{% endblock contenido %}
    