{% extends "includes/base.html" %}
{% load static %}

{% block contenido %}
			<!-- begin superbox -->
			<div class="superbox " data-offset="50">
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="{% static '/assets/img/gallery/gallery-1.jpeg' %}">
                    <span style="background: url('{% static '/assets/img/gallery/gallery-1-thumb.jpeg' %}');"></span>
                    <span style="background: url('/static/assets/img/gallery/gallery-1-thumb.jpeg');"></span>



					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img hre="{% static '/assets/img/gallery/gallery-2.jpeg' %}">
					<span style="background: url(../assets/img/gallery/gallery-2-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img src="{% static '/assets/img/gallery/gallery-3.jpeg' %}">
					<span style="background: url(../assets/img/gallery/gallery-3-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img src="{% static '/assets/img/gallery/gallery-4.jpeg' %}">
					<span style="background: url(../assets/img/gallery/gallery-4-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-5.jpg">
					<span style="background: url(../assets/img/gallery/gallery-5-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-6.jpg">
					<span style="background: url(../assets/img/gallery/gallery-6-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-7.jpg">
					<span style="background: url(../assets/img/gallery/gallery-7-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-8.jpg">
					<span style="background: url(../assets/img/gallery/gallery-8-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-9.jpg">
					<span style="background: url(../assets/img/gallery/gallery-9-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-10.jpg">
					<span style="background: url(../assets/img/gallery/gallery-10-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-11.jpg">
					<span style="background: url(../assets/img/gallery/gallery-11-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-12.jpg">
					<span style="background: url(../assets/img/gallery/gallery-12-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-13.jpg">
					<span style="background: url(../assets/img/gallery/gallery-13-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-14.jpg">
					<span style="background: url(../assets/img/gallery/gallery-14-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-15.jpg">
					<span style="background: url(../assets/img/gallery/gallery-15-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-16.jpg">
					<span style="background: url(../assets/img/gallery/gallery-16-thumb.jpeg);"></span>
					</a>
				</div   >
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-17.jpg">
					<span style="background: url(../assets/img/gallery/gallery-17-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-18.jpg">
					<span style="background: url(../assets/img/gallery/gallery-18-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-19.jpg">
					<span style="background: url(../assets/img/gallery/gallery-19-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-20.jpg">
					<span style="background: url(../assets/img/gallery/gallery-20-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-21.jpg">
					<span style="background: url(../assets/img/gallery/gallery-21-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-22.jpg">
					<span style="background: url(../assets/img/gallery/gallery-22-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-23.jpg">
					<span style="background: url(../assets/img/gallery/gallery-23-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-24.jpg">
					<span style="background: url(../assets/img/gallery/gallery-24-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-25.jpg">
					<span style="background: url(../assets/img/gallery/gallery-25-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-26.jpg">
					<span style="background: url(../assets/img/gallery/gallery-26-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-27.jpg">
					<span style="background: url(../assets/img/gallery/gallery-27-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-28.jpg">
					<span style="background: url(../assets/img/gallery/gallery-28-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-29.jpg">
					<span style="background: url(../assets/img/gallery/gallery-29-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-30.jpg">
					<span style="background: url(../assets/img/gallery/gallery-30-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-31.jpg">
					<span style="background: url(../assets/img/gallery/gallery-31-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-32.jpg">
					<span style="background: url(../assets/img/gallery/gallery-32-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-33.jpg">
					<span style="background: url(../assets/img/gallery/gallery-33-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-34.jpg">
					<span style="background: url(../assets/img/gallery/gallery-34-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-35.jpg">
					<span style="background: url(../assets/img/gallery/gallery-35-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-36.jpg">
					<span style="background: url(../assets/img/gallery/gallery-36-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-37.jpg">
					<span style="background: url(../assets/img/gallery/gallery-37-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-38.jpg">
					<span style="background: url(../assets/img/gallery/gallery-38-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-39.jpg">
					<span style="background: url(../assets/img/gallery/gallery-39-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-40.jpg">
					<span style="background: url(../assets/img/gallery/gallery-40-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-41.jpg">
					<span style="background: url(../assets/img/gallery/gallery-41-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-42.jpg">
					<span style="background: url(../assets/img/gallery/gallery-42-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-43.jpg">
					<span style="background: url(../assets/img/gallery/gallery-43-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-44.jpg">
					<span style="background: url(../assets/img/gallery/gallery-44-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-45.jpg">
					<span style="background: url(../assets/img/gallery/gallery-45-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-46.jpg">
					<span style="background: url(../assets/img/gallery/gallery-46-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-47.jpg">
					<span style="background: url(../assets/img/gallery/gallery-47-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-48.jpg">
					<span style="background: url(../assets/img/gallery/gallery-48-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-49.jpg">
					<span style="background: url(../assets/img/gallery/gallery-49-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-50.jpg">
					<span style="background: url(../assets/img/gallery/gallery-50-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-51.jpg">
					<span style="background: url(../assets/img/gallery/gallery-51-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-52.jpg">
					<span style="background: url(../assets/img/gallery/gallery-52-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-53.jpg">
					<span style="background: url(../assets/img/gallery/gallery-53-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-54.jpg">
					<span style="background: url(../assets/img/gallery/gallery-54-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-55.jpg">
					<span style="background: url(../assets/img/gallery/gallery-55-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-56.jpg">
					<span style="background: url(../assets/img/gallery/gallery-56-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-57.jpg">
					<span style="background: url(../assets/img/gallery/gallery-57-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-58.jpg">
					<span style="background: url(../assets/img/gallery/gallery-58-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-59.jpg">
					<span style="background: url(../assets/img/gallery/gallery-59-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-60.jpg">
					<span style="background: url(../assets/img/gallery/gallery-60-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-61.jpg">
					<span style="background: url(../assets/img/gallery/gallery-61-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-62.jpg">
					<span style="background: url(../assets/img/gallery/gallery-62-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-63.jpg">
					<span style="background: url(../assets/img/gallery/gallery-63-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-64.jpg">
					<span style="background: url(../assets/img/gallery/gallery-64-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-65.jpg">
					<span style="background: url(../assets/img/gallery/gallery-65-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-66.jpg">
					<span style="background: url(../assets/img/gallery/gallery-66-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-67.jpg">
					<span style="background: url(../assets/img/gallery/gallery-67-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-68.jpg">
					<span style="background: url(../assets/img/gallery/gallery-68-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-69.jpg">
					<span style="background: url(../assets/img/gallery/gallery-69-thumb.jpeg);"></span>
					</a>
				</div>
				<div class="superbox-list">
					<a href="javascript:;" class="superbox-img">
					<img data-img="../assets/img/gallery/gallery-70.jpg">
					<span style="background: url(../assets/img/gallery/gallery-70-thumb.jpeg);"></span>
					</a>
				</div>
			</div>
			<!-- end superbox -->

        <!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
        <!-- ================== END BASE JS ================== -->
        
        <!-- ================== BEGIN PAGE LEVEL JS ================== -->
        <!-- <script src="{% static '\assets\plugins\superbox\jquery.superbox.min.js' %}"></script> -->
        <script src="{% static '\assets\js\demo\gallery-v2.demo.js' %}"></script>
        
        {% endblock contenido %}


